{% extends 'base/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/teams.css' %}">
{% endblock %}

{% block content %}

<div class="main-header">
    <div class="main-header-top">
        <div class="main-accent">
        <span style="background:#2E7D32;"></span>
        <span style="background:#F9A825;"></span>
        <span style="background:#7B1A2E;"></span>
        </div>
        <div>  
        <h1 class="main-title">Equipos LFQ</h1>
        </div>
        <div class="teams-header">
        <a href="/admin/fixtures_app/team/add/" class="btn btn-primary">Nuevo equipo</a>
        </div>
    </div>
</div>

<div id="grid" class="grid-equipos">
  {% for team in teams_list %}

    <div class="eq-card">
        <div class="eq-franja"></div>
        <div class="eq-content">
        {% if team.logo %}
            <img src="{{ team.logo.url }}" class="eq-avatar">
        {% else %}
            <div class="eq-avatar">
            {{ team.name|slice:":2"|upper }} 
            </div>
        {% endif %}
        <p class="eq-nombre">
            {{ team.name }}
        </p>
        {% if team.city %}
        <p class="eq-ciudad">
            📍 {{ team.city }}
        </p>
        {% endif %}
        <div class="eq-acciones">
            <button class="eq-btn">
            ✏️
            </button>
        </div>
        </div>
    </div>
    
  {% endfor %}
</div>


{% endblock %}
